<% include partials/iframe_header %>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="margin-bottom:auto">
                <div class="box-header with-border">
                    <b>工具栏： </b>
                    <caption>
                        <button type="button" class="btn btn-default" id="token_refresh"><i
                                    class="fa fa-refresh icon-white"></i> 刷新
                        </button>
                        <button type="button" class="btn btn-success" id="token_add" data-toggle="modal"
                                data-target="#e-dialog-token" data-whatever=""><i
                                    class="glyphicon glyphicon-edit icon-white"></i> 新增
                        </button>
                        <button type="button" class="btn btn-info" id="token_edit" data-toggle="modal" id="user-edit"><i
                                    class="fa fa-edit icon-white"></i> 编辑
                        </button>
                        <button type="button" class="btn btn-danger" id="token_batch_remove"><i
                                    class="fa fa-remove icon-white"></i> 删除
                        </button>
                        <button type="button" class="btn btn-info" id="token_find" onclick="optionUserData(this);"><i
                                    class="glyphicon glyphicon-zoom-in icon-white"></i> 详情
                        </button>
                    </caption>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="trontokens" class="table datatable table-bordered table-hover">
                        <thead>
                        <tr>
                            <th><input value="all" type="checkbox"
                                       onclick="$('.datatable tbody :checkbox').prop('checked', this.checked);"/>
                            </th>
                            <th>token名称</th>
                            <th>tokenSymbol</th>
                            <th>合约地址</th>
                            <th>pari地址</th>
                            <th>总量</th>
                            <th>decimal</th>
                            <th>tokenblockid</th>
                            <th>tokenhash</th>
                            <th>tokencreator</th>
                            <th>createtime</th>
                            <th>updatetime</th>
                            <th>deletetime</th>
                            <th>is_del</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
<!--                         <th></th> -->
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<div class="modal fade" id="e-dialog-token" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Token修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="e-token-form">
                    <div class="box-body">
                        <input type="hidden" data-name="e_id" name="e_id" id="e_id"/>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">token名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="e_tokenname" id="e_tokenname"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">tokenSymbol</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="e_tokensymbol" id="e_tokensymbol"
                                       placeholder="">
                            </div>
                        </div><div class="form-group">
                            <label for="username" class="col-sm-2 control-label">合约地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="e_tokencontract" id="e_tokencontract"
                                       placeholder="">
                            </div>
                        </div><div class="form-group">
                            <label for="username" class="col-sm-2 control-label">pari地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="e_tokenpair" id="e_tokenpair"
                                       placeholder="">
                            </div>
                        </div><div class="form-group">
                            <label for="username" class="col-sm-2 control-label">总量</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="e_tokensupply" id="e_tokensupply"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">decimal</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="e_tokendicimal" name="e_tokendicimal"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">tokenblockid</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="e_tokenblockid" name="e_tokenblockid"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">tokenhash</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="e_tokenhash" name="e_tokenhash"
                                       placeholder="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveToken">保存</button>
            </div>
        </div>
    </div>
</div>
<% include partials/iframe_footer %>
<script src="/service/trontoken_manage.js"></script>
